{% extends 'base.html.twig' %}

{% block body %}
    <div class="content">
        <div class="user">
            <div class="image-profile">
                {% if user.image is null %}
                    <img src="{{ asset('build/without-profile-image.png') }}">
                {% else %}
                    <img src="{{ asset('build/without-profile-imagse.png') }}">
                {% endif %}
            </div>
            <h1>{{ user.name }}</h1>
        </div>
        <div class="data-user">
            <div class="info-user">
                <h2>{{ user.title }}</h2>
                <p>{{ user.description }}</p>
            </div>
            <div class="tweets">
                twitter
            </div>
        </div>
    </div>
{% endblock %}
